<footer>
  <p class="pull-left">
    Designed with <%= link_to 'Bootstrap', 'http://twitter.github.io/bootstrap/' %>
    <%= link_to image_tag 'bs.png', alt: 'bootstrap', size: '35x35' %>
  </p>
  <p class="pull-right">Copyleft © by Angela Pedroso Tonon 2013</p>
</footer>