<footer>
  <p class="pull-left">
    Designed with <%= image_tag 'bs.png', alt: 'bootstrap', size: '35x35' %>
    <%= link_to 'Bootstrap', 'http://twitter.github.io/bootstrap/' %><br/>
  </p>
  <p class="pull-right">© 2013 Copyleft by Angela Pedroso Tonon</p>
</footer>